body {
    font-family:Verdana,sans-serif;font-size:0.9em;
	background-color:#E7F0B4;
}
header {
    
  	margin:5px;margin-bottom:15px;padding:8px;
   	font-family: Arial, Helvetica, sans-serif;
   	color:#654;
   	position: absolute;
   	top:0; left: 0;
	height:100%;
    width:80%;
   

}
footer {
 	font-style:italic;
	font-size:0.8em;
	margin-left:25px;
	
}
section {
	
	margin-left:25px;
   	font-style:italic;
	color: #650;
}
article {
	margin-left:25px;
    font-style:normal;
	color:green;
	font-family: Arial, Helvetica, sans-serif;
}
aside {
    background-color:#ddd;
	position: absolute;
    top:20%; right: 0;
	bottom: 0;
	padding-left:15px;
    width: 15%;
    
}
nav ul  {
    margin:0;padding:0; 
	background-color: #900;
}
nav ul li {
    display:inline; margin:15px; 
}
nav li a { color: #fff;
text-decoration: none;
}
}
h2{
	background-color:blue;
    color:white;
}
